# Python cache
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.venv/

# IDE settings (PyCharm/VSCode)
.idea/
.vscode/

# MacOS specific
.DS_Store

# Streamlit specific
.streamlit/secrets.toml

# User Data (Don't upload your huge calculation files)
*.gnu
*.kpath
*.dos
*.pdos
*.out
*.in
saved/
temp/
